@page "/botmanager"
@using System.Diagnostics
<PageTitle>Bot Manager</PageTitle>
<h3>BotManager</h3>
<p>>UwUBot Status: @UwUBotStatus</p>

<button class="btn btn-primary" @onclick="StartUwUBot">Start UwUBot</button>
<button class="btn btn-primary" @onclick="StopUwUBot">Stop UwUBot</button>

@code {
    private string UwUBotStatus = "Offline :'(";
    Process CurrentProc;

    private void StartUwUBot()
    {
        try
        {

            CurrentProc = new Process
            {
                StartInfo = new ProcessStartInfo
                {
                    FileName = "StartUwUBot.sh",
                    Arguments = "",
                    UseShellExecute = false,
                    WorkingDirectory = "/home/andym/DiscordBotMonitor/DBM",
                    RedirectStandardOutput = true,
                    CreateNoWindow = false
                }
            };
            CurrentProc.Start();
            UwUBotStatus = "Online";
        }
        catch(Exception e)
        {
            UwUBotStatus = "Offline :'(";
            Console.WriteLine(e.Message);
        }

    }
    private void StopUwUBot()
    {
        CurrentProc.Kill(true);
        CurrentProc.Dispose();
        UwUBotStatus = "Offline";
    }

}