@page "/botmanager"
@using System.Diagnostics
<PageTitle>Bot Manager</PageTitle>
<h3>BotManager</h3>
<p>UwUBot Status: @UwUBot.BotStatus</p>

<button class="btn btn-primary" @onclick="StartUwUBot">Start UwUBot</button>
<button class="btn btn-primary" @onclick="StopUwUBot">Stop UwUBot</button>

<p>Dick Johnson Status: @DickJohnson.BotStatus</p>

<button class="btn btn-primary" @onclick="StartDickJohnson">Start Dick Johnson</button>
<button class="btn btn-primary" @onclick="StopDickJohnson">Stop Dick Johnson</button>

@code {
    BotController UwUBot = new BotController("UwUBot");
    BotController DickJohnson = new BotController("Dick Johnson");
    private void StartUwUBot()
    {
        UwUBot.StartBot("uwu.js", "/bin/node", "../../../../../../Discord-Bots/UwUBot/");
    }
    private void StopUwUBot()
    {
        UwUBot.StopBot();
    }
    private void StartDickJohnson()
    {
        DickJohnson.StartBot("run", "/bin/dotnet", "../../../../../../Discord-Bots/DickJohnson");
    }
    private void StopDickJohnson()
    {
        DickJohnson.StopBot();
    }


}